<div class="sidebar">
  <img src="./images/pd.png" class="logo">
  <ul>
    <li class="<%= currentPage === 'pdvPedidos' ? 'active' : '' %>"><a href="/">Novo Pedido</a></li>
    <li class="<%= currentPage === 'painelpedidos' ? 'active' : '' %>"><a href="/painelpedidos">Painel de Pedidos</a></li>
    <li class="<%= currentPage === 'avisos' ? 'active' : '' %>"><a href="/avisos">Avisos</a></li>
  </ul>
</div>
